            <table class="table-striped table-bordered" summary="Degree Requirements ">
                <tbody>
                    <tr>
                        <td>
                            <h3>General Education Requirements</h3>
                        </td>
                        <td/>
                    </tr>
                    <tr>
                        <td/>
                        <td>Hrs</td>
                    </tr>
                    <tr>
                        <td><strong>I. Written Composition</strong></td>
                        <td/>
                    </tr>
                    <tr>
                        <td>First-Year&#160;Composition (EN 111 and EN 112 or EN 121 and EN 122)</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td><strong>II. Humanities and Fine Arts</strong></td>
                        <td/>
                    </tr>
                    <tr>
                        <td>
                            <p>Literature (EN 211 and EN 212 or EN 221 and EN 222 or EN 231 and EN 232 or EN 233 and EN 234)
                                <br/>Fundamentals of Speech (COM 201)
                                <br/><strong>3 hrs selected from:</strong>
                                <br/>Art Appreciation (AR 170)
                                <br/>Art History Survey I (AR 281)
                                <br/>Art History Survey II (AR 282)
                                <br/>Introduction to Foreign Language (FL 100)
                                <br/>Introductory French (FR 101)
                                <br/>Introductory French (FR 102)
                                <br/>Language Laboratory (FR 111)
                                <br/>Language Laboratory (FR 112)
                                <br/>Intermediate French (FR 201)
                                <br/>Intermediate French (FR 202)
                                <br/>Introductory German (GR 101)
                                <br/>Introductory German (GR 102)
                                <br/>Language Laboratory (GR 111)
                                <br/>Language Laboratory (GR 112)
                                <br/>Intermediate German (GR 201)
                                <br/>Intermediate German (GR 202)
                                <br/>Music Appreciation I (MU 222)
                                <br/>Survey of Music Literature (MU 244)
                                <br/>Introduction to Philosophy (PHL 201)
                                <br/>Ethics (PHL 205)
                                <br/>Old Testament Introduction (RE 221)
                                <br/>New Testament Introduction (RE 231)
                                <br/>Introductory Spanish (SP 101)
                                <br/>Introductory Spanish (SP 102)
                                <br/>Language Laboratory (SP 111)
                                <br/>Language Laboratory (SP 112)
                                <br/>Intermediate Spanish (SP 201)
                                <br/>Intermediate Spanish (SP 202)
                                <br/>Theatre Appreciation&#160;(TH 210)</p>
                        </td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td><strong>III. Natural Sciences and Mathematics </strong></td>
                        <td/>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>3 hrs selected from:</strong>
                                <br/>Pre-calculus Algebra (MA 112)
                                <br/>Pre-calculus Trigonometry (MA 113)
                                <br/>Pre-calculus Algebra and Trigonometry (MA 115)
                                <br/>Calculus I (MA 125)
                                <br/><strong>8 hrs selected from:</strong>
                                <br/>Principles of Biology (BI 111)
                                <br/>Principles of Biology (BI 112)</p>
                        </td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td><strong>IV. History, Social and Behavioral Sciences</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>6 hrs from: <br/></b>Survey of World Civilization to 1500 (HI 101) and Survey of World Civilization Since 1500 (HI 102)
                                <br/>or United States History to 1877 (HI 201) and United States History Since 1877 (HI 202)
                                <br/><strong>6 hrs from:</strong>
                                <br/>Communication in a Global Age (COM 205)
                                <br/>Principles of Macroeconomics (EC 251)
                                <br/>Principles of Microeconomics (EC 252)
                                <br/>Human Growth and Development (ED 299)
                                <br/>Introduction to International Studies (FL 101)
                                <br/>Global Perspectives through Study Abroad (FL 201)
                                <br/>Introduction to Latin American Studies (FL 204)
                                <br/>World Regional Geography (GE 102)
                                <br/>Human Geography (GE 260)
                                <br/>United States Government and Politics (PS 241)
                                <br/>General Psychology (PY 201)
                                <br/>Introductory Sociology (SO 221)
                                <br/>Current Social Problems (SO 222)</p>
                        </td>
                        <td align="center" height="88" width="6%">12</td>
                    </tr>
                    <tr>
                        <td><strong>Additional Requirements:</strong></td>
                    </tr>
                    <tr>
                        <td>Writing Emphasis Course (BI 200W), Computer Instruction (e.g., CIS 125 or higher level computer science&#160;or computer information systems course)</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Bachelor of Arts Degree</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>Areas I-IV and Additional Requirements are the same as for the Bachelor of Science degree</td>
                    </tr>
                    <tr>
                        <td><strong>V. Foreign Language</strong></td>
                    </tr>
                    <tr>
                        <td>Foreign language at the intermediate level (201-202)</td>
                        <td align="center" height="45" width="6%">6</td>
                    </tr>
                </tbody>
            </table>